body{
    margin: 0;
}

#header{
    height:100px;
    width: 100%;
    background-color: #003585;
}

#header_info{
    height: 230px;
    width: 60%;
    margin-left: 19%;
    margin-top: 10px;
    position:absolute;
}

#booking_im{
    color: white; 
    font-family:BlinkMacSystemFont,-apple-system,Segoe UI,Roboto,Helvetica,Arial,sans-serif;
    font-size: 25px; 
    margin-bottom: 0;
}
#register{
    float: right;
    margin-right: 10px;
    margin-top: 10px;
    background-color: white;
    color:#0071c2;
    font-size:15px;
    height: 20px;
    border: 0;
}
#login{
    float: right;
    margin-right: 10px;
    margin-top: 10px;
    background-color: white;
    color:#0071c2;
    font-size:15px;
    height: 20px;
    border: 0;
}

#Find_your_next_stay{
    color: white; 
    margin-top: 50px; 
    margin-left: 290px;
    font-family: BlinkMacSystemFont,-apple-system,Segoe UI,Roboto,Helvetica,Arial,sans-serif; 
    font-size: 30px;
    position:absolute;
}



#hotel_details{
    height: 420px;
    width: 60%;
    margin-top: 50px;
    background-color:aliceblue;
    border: #0071c2 1px solid;
}
#hotel_details>h3{
    font-family: sans-serif;
    font-size: 30px;
    margin-top: 10px;
    margin-bottom: 15px;
    text-align: center;
    color: #0071c2;
    font-weight: 800; 
}

#image_in{
    height: 310px;
    width: 400px;
    position:absolute;
    margin-left: 30px;
}

#hotel_inside_text{
    background-color: #003585;
    height: 60px;
    width: 100%;
    position:absolute;
    text-align: center;
}

#hotel_inside_text>p{
    font-family:system-ui;
    color: white;
    font-size: 30px;
    margin-top: 10px;
    font-weight: 700;
}
#room_img>img{
    height: 250px;
    width: 100%;
    margin-top:60px;
}

#image_out{
    height: 310px;
    width: 400px;
    position:absolute;
    margin-left: 480px;
}
#hotel_outside_text{
    background-color: #003585;
    height: 60px;
    width: 100%;
    position:absolute;
    text-align: center;
}

#hotel_outside_text>p{
    font-family: system-ui;
    color: white;
    font-size: 30px;
    margin-top: 10px;
    font-weight: 700;
}

#hotel_img>img{
    height: 250px;
    width: 100%;
    margin-top:60px;
}



#services{
    height: 70px;
    width: 60%;
    margin-left: 400px;
    margin-top: 20px;
}

#service{
    height: 70px;
    width: 100px;
    margin-right: 10px;
    float:left;
}

#service>span{
    font-weight: 800;
    color:black;
    font-family: sans-serif;
    font-size: 12px;
}

.fa-wifi{
    font-size: 40px;
    color: #003585;
    margin-bottom: 10px;

}
.fa-square-parking{
    font-size: 40px;
    color: #003585;
    margin-bottom: 10px;
}
.fa-air-conditioner{
    font-size: 40px; 
    color: #003585;
    margin-bottom: 10px;
}
.fa-virus-covid-slash{
    font-size: 40px;
    color: #003585;
    margin-bottom: 10px;
}
.fa-shower{
    font-size: 40px;
    color: #003585;
    margin-bottom: 10px;
}
.fa-clock-rotate-left{
    font-size: 40px;
    color: #003585;
    margin-bottom: 10px;
}

#cost_details{
    height: 300px;
    width: 60%;
    background-color: rgb(241, 217, 217);
    border: 2px red solid;
}
#cost_details>h2{
    font-family: sans-serif;
    font-size: 30px;
    margin-bottom: 15px;
    color: #0071c2;
    font-weight: 800;
}

#cost_details>span{
    margin-top: 20px;
    font-family: system-ui;
    font-size: 15px;
    font-weight: 700;
}
#cost_details>button{
    background-color: #003585;
    color: white;
    font-family: sans-serif;
    font-weight: 700;
    float:right;
    margin-right: 20px;
    border-radius: 5px;
    height: 40px;
   border-color:antiquewhite;
}

#footer{
    background-color: #003585;
    height: 330px;
    width: 100%;
    position:absolute;
    margin-top: 100px;
    z-index: 0;
}

#social_media{
    margin-top: 20px;
}

#zomato_link{
    color: white;
    text-decoration: none; 
    font-family: Arial, Helvetica, sans-serif;
}
#zomato_link:hover{
    color: orange;
}

#profile_link{
    color: white; 
    text-decoration: none; 
    margin-left: 20px;
    font-family: Arial, Helvetica, sans-serif;
}
#profile_link:hover{
    color: orange;
}

#gototop{
    text-decoration: none; 
    border: 2px white solid; 
    color: white;
    margin-top: 30px;
}
#gototop:hover{
    background-color: white;
    color: #003585;
}

@media screen and (max-width:1522px) {
    #hotel_details{
        height: 420px;
        width: 61%;
        margin-top: 50px;
        background-color:aliceblue;
        border: #0071c2 1px solid;
    }
    
}
@media screen and (max-width:1485px) {
    #hotel_details{
        height: 420px;
        width: 63%;
        margin-top: 50px;
        background-color:aliceblue;
        border: #0071c2 1px solid;
    }
    #Find_your_next_stay{
        color: white; 
        margin-top: 50px; 
        margin-left: 270px;
        font-family: BlinkMacSystemFont,-apple-system,Segoe UI,Roboto,Helvetica,Arial,sans-serif; 
        font-size: 30px;
        position:absolute;
    }
    
}
@media screen and (max-width:1454px) {
    #hotel_details{
        height: 420px;
        width: 64%;
        margin-top: 50px;
        background-color:aliceblue;
        border: #0071c2 1px solid;
    }
    #image_out{
        height: 310px;
        width: 400px;
        position:absolute;
        margin-left: 460px;
         
    }
    #Find_your_next_stay{
        color: white; 
        margin-top: 50px; 
        margin-left: 270px;
        font-family: BlinkMacSystemFont,-apple-system,Segoe UI,Roboto,Helvetica,Arial,sans-serif; 
        font-size: 30px;
        position:absolute;
    }
    
}

@media screen and (max-width:1454px) {
    #hotel_details{
        height: 420px;
        width: 64%;
        margin-top: 50px;
        background-color:aliceblue;
        border: #0071c2 1px solid;
    }
    #image_out{
        height: 310px;
        width: 400px;
        position:absolute;
        margin-left: 460px;
         
    }
    
}

@media screen and (max-width:1396px) {
    #hotel_details{
        height: 420px;
        width: 60%;
        margin-top: 50px;
        background-color:aliceblue;
        border: #0071c2 1px solid;
    }
    #image_in{
        height: 310px;
        width: 350px;
        position:absolute;
        margin-left: 30px;
         
    }
    #image_out{
        height: 310px;
        width: 350px;
        position:absolute;
        margin-left: 420px;
         
    }
}


@media screen and (max-width:1328px) {
    #hotel_details{
        height: 420px;
        width: 58%;
        margin-top: 50px;
        background-color:aliceblue;
        border: #0071c2 1px solid;
    }
    #image_in{
        height: 310px;
        width: 320px;
        position:absolute;
        margin-left: 30px;
         
    }
    #image_out{
        height: 310px;
        width: 320px;
        position:absolute;
        margin-left: 400px;
         
    }
    #Find_your_next_stay{
        color: white; 
        margin-top: 50px; 
        margin-left: 250px;
        font-family: BlinkMacSystemFont,-apple-system,Segoe UI,Roboto,Helvetica,Arial,sans-serif; 
        font-size: 30px;
        position:absolute;
    }
}

@media screen and (max-width:1289px) {
    #hotel_details{
        height: 420px;
        width: 57%;
        margin-top: 50px;
        background-color:aliceblue;
        border: #0071c2 1px solid;
    }
    #image_in{
        height: 310px;
        width: 300px;
        position:absolute;
        margin-left: 30px;
         
    }
    #image_out{
        height: 310px;
        width: 300px;
        position:absolute;
        margin-left: 380px;
         
    }
    #Find_your_next_stay{
        color: white; 
        margin-top: 50px; 
        margin-left: 230px;
        font-family: BlinkMacSystemFont,-apple-system,Segoe UI,Roboto,Helvetica,Arial,sans-serif; 
        font-size: 30px;
        position:absolute;
    }
    #services{
        height: 70px;
        width: 60%;
        margin-left: 250px;
        margin-top: 20px;
    }
}

@media screen and (max-width:1259px) {
    #hotel_details{
        height: 420px;
        width: 55%;
        margin-top: 50px;
        background-color:aliceblue;
        border: #0071c2 1px solid;
    }
    #image_in{
        height: 310px;
        width: 280px;
        position:absolute;
        margin-left: 30px;
         
    }
    #image_out{
        height: 310px;
        width: 280px;
        position:absolute;
        margin-left: 360px;
         
    }
}



@media screen and (max-width:1210px) {
    #hotel_details{
        height: 420px;
        width: 56%;
        margin-top: 50px;
        background-color:aliceblue;
        border: #0071c2 1px solid;
    }
    #image_in{
        height: 310px;
        width: 270px;
        position:absolute;
        margin-left: 30px;
         
    }
    #image_out{
        height: 310px;
        width: 270px;
        position:absolute;
        margin-left: 350px;
         
    }
    #Find_your_next_stay{
        color: white; 
        margin-top: 50px; 
        margin-left: 230px;
        font-family: BlinkMacSystemFont,-apple-system,Segoe UI,Roboto,Helvetica,Arial,sans-serif; 
        font-size: 30px;
        position:absolute;
    }
    #services{
        height: 70px;
        width: 60%;
        margin-left: 200px;
        margin-top: 20px;
    }
}



@media screen and (max-width:1156px) {
    #hotel_details{
        height: 420px;
        width: 56%;
        margin-top: 50px;
        background-color:aliceblue;
        border: #0071c2 1px solid;
    }
    #image_in{
        height: 310px;
        width: 270px;
        position:absolute;
        margin-left: 30px;
         
    }
    #image_out{
        height: 310px;
        width: 270px;
        position:absolute;
        margin-left: 320px;
         
    }
    #Find_your_next_stay{
        color: white; 
        margin-top: 50px; 
        margin-left: 215px;
        font-family: BlinkMacSystemFont,-apple-system,Segoe UI,Roboto,Helvetica,Arial,sans-serif; 
        font-size: 30px;
        position:absolute;
    }
    #services{
        height: 70px;
        width: 60%;
        margin-left: 200px;
        margin-top: 20px;
    }
}



@media screen and (max-width:1120px) {
    #hotel_details{
        height: 420px;
        width: 56%;
        margin-top: 50px;
        background-color:aliceblue;
        border: #0071c2 1px solid;
    }
    #image_in{
        height: 290px;
        width: 250px;
        position:absolute;
        margin-left: 30px;
         
    }
    #image_out{
        height: 290px;
        width: 250px;
        position:absolute;
        margin-left: 320px;
         
    }
    #Find_your_next_stay{
        color: white; 
        margin-top: 50px; 
        margin-left: 210px;
        font-family: BlinkMacSystemFont,-apple-system,Segoe UI,Roboto,Helvetica,Arial,sans-serif; 
        font-size: 30px;
        position:absolute;
    }
    #services{
        height: 70px;
        width: 60%;
        margin-left: 150px;
        margin-top: 20px;
    }
}



@media screen and (max-width:1070px) {
    #hotel_details{
        height: 420px;
        width: 59%;
        margin-top: 50px;
        background-color:aliceblue;
        border: #0071c2 1px solid;
    }
    #image_in{
        height: 290px;
        width: 250px;
        position:absolute;
        margin-left: 30px;
         
    }
    #image_out{
        height: 290px;
        width: 250px;
        position:absolute;
        margin-left: 310px;
         
    }
    #Find_your_next_stay{
        color: white; 
        margin-top: 50px; 
        margin-left: 200px;
        font-family: BlinkMacSystemFont,-apple-system,Segoe UI,Roboto,Helvetica,Arial,sans-serif; 
        font-size: 30px;
        position:absolute;
    }
    #services{
        height: 70px;
        width: 60%;
        margin-left: 100px;
        margin-top: 20px;
    }
    
    #service>span{
        font-weight: 800;
        color:black;
        font-family: sans-serif;
        font-size: 10px;
    }

    .fa-wifi{
        font-size: 30px;
        color: #003585;
        margin-bottom: 10px;

    }
    .fa-square-parking{
        font-size: 30px;
        color: #003585;
        margin-bottom: 10px;
    }
    .fa-air-conditioner{
        font-size: 30px; 
        color: #003585;
        margin-bottom: 10px;
    }
    .fa-virus-covid-slash{
        font-size: 30px;
        color: #003585;
        margin-bottom: 10px;
    }
    .fa-shower{
        font-size: 30px;
        color: #003585;
        margin-bottom: 10px;
    }
    .fa-clock-rotate-left{
        font-size: 30px;
        color: #003585;
        margin-bottom: 10px;
    }
}



@media screen and (max-width:1010px) {
    #hotel_details{
        height: 420px;
        width: 59%;
        margin-top: 50px;
        background-color:aliceblue;
        border: #0071c2 1px solid;
    }
    #image_in{
        height: 270px;
        width: 230px;
        position:absolute;
        margin-left: 30px;
         
    }
    #image_out{
        height: 270px;
        width: 230px;
        position:absolute;
        margin-left: 310px;
         
    }
    #Find_your_next_stay{
        color: white; 
        margin-top: 50px; 
        margin-left: 180px;
        font-family: BlinkMacSystemFont,-apple-system,Segoe UI,Roboto,Helvetica,Arial,sans-serif; 
        font-size: 30px;
        position:absolute;
    }
    #services{
        height: 70px;
        width: 60%;
        margin-left: 80px;
        margin-top: 20px;
    }
}


@media screen and (max-width:951px) {
    #hotel_details{
        height: 420px;
        width: 59%;
        margin-top: 50px;
        background-color:aliceblue;
        border: #0071c2 1px solid;
    }
    #image_in{
        height: 250px;
        width: 230px;
        position:absolute;
        margin-left: 30px;
         
    }
    #image_out{
        height: 250px;
        width: 230px;
        position:absolute;
        margin-left: 280px;
         
    }
    #Find_your_next_stay{
        color: white; 
        margin-top: 50px; 
        margin-left: 180px;
        font-family: BlinkMacSystemFont,-apple-system,Segoe UI,Roboto,Helvetica,Arial,sans-serif; 
        font-size: 30px;
        position:absolute;
    }
    #services{
        height: 70px;
        width: 60%;
        margin-left: 150px;
        margin-top: 20px;
    }
    #service{
        height: 70px;
        width: 70px;
        margin-right: 10px;
        float:left;
    }
}

@media screen and (max-width:951px) {
    #hotel_details{
        height: 420px;
        width: 61%;
        margin-top: 50px;
        background-color:aliceblue;
        border: #0071c2 1px solid;
    }
    #Find_your_next_stay{
        color: white; 
        margin-top: 50px; 
        margin-left: 160px;
        font-family: BlinkMacSystemFont,-apple-system,Segoe UI,Roboto,Helvetica,Arial,sans-serif; 
        font-size: 30px;
        position:absolute;
    }
    
}

@media screen and (max-width:872px) {
    #hotel_details{
        height: 420px;
        width: 64%;
        margin-top: 50px;
        background-color:aliceblue;
        border: #0071c2 1px solid;
    }
    #hotel_outside_text>p{
        font-family: system-ui;
        color: white;
        font-size: 25px;
        margin-top: 10px;
        font-weight: 700;
    }
    #hotel_inside_text>p{
        font-family: system-ui;
        color: white;
        font-size: 25px;
        margin-top: 10px;
        font-weight: 700;
    }
    #image_in{
        height: 230px;
        width: 200px;
        position:absolute;
        margin-left: 30px;
         
    }
    #image_out{
        height: 230px;
        width: 200px;
        position:absolute;
        margin-left: 280px;
         
    }
    #Find_your_next_stay{
        color: white; 
        margin-top: 50px; 
        margin-left: 150px;
        font-family: BlinkMacSystemFont,-apple-system,Segoe UI,Roboto,Helvetica,Arial,sans-serif; 
        font-size: 30px;
        position:absolute;
    }
    #services{
        height: 70px;
        width: 60%;
        margin-left: 150px;
        margin-top: 20px;
    }
    #service{
        height: 70px;
        width: 70px;
        margin-right: 10px;
        float:left;
    }
}


@media screen and (max-width:787px) {
    #hotel_details{
        height: 420px;
        width: 64%;
        margin-top: 50px;
        background-color:aliceblue;
        border: #0071c2 1px solid;
    }
    #hotel_outside_text>p{
        font-family: system-ui;
        color: white;
        font-size: 25px;
        margin-top: 10px;
        font-weight: 700;
    }
    #hotel_inside_text>p{
        font-family: system-ui;
        color: white;
        font-size: 25px;
        margin-top: 10px;
        font-weight: 700;
    }
    #image_in{
        height: 230px;
        width: 200px;
        position:absolute;
        margin-left: 30px;
         
    }
    #image_out{
        height: 230px;
        width: 200px;
        position:absolute;
        margin-left: 250px;
         
    }
    
    #services{
        height: 70px;
        width: 60%;
        margin-left: 80px;
        margin-top: 20px;
    }
    
}


@media screen and (max-width:739px) {
    #hotel_details{
        height: 350px;
        width: 66%;
        margin-top: 50px;
        background-color:aliceblue;
        border: #0071c2 1px solid;
    }
        
    #image_in{
        height: 230px;
        width: 200px;
        position:absolute;
        margin-left: 30px;
         
    }

    #hotel_inside_text{
        background-color: #003585;
        height: 40px;
        width: 100%;
        position:absolute;
        text-align: center;
    }

    #hotel_inside_text>p{
        font-family:system-ui;
        color: white;
        font-size: 20px;
        margin-top: 10px;
        font-weight: 700;
    }
    #room_img>img{
        height: 200px;
        width: 100%;
        margin-top:40px;
    }

    #image_out{
        height: 200px;
        width: 200px;
        position:absolute;
        margin-left: 250px;
         
    }
    #hotel_outside_text{
        background-color: #003585;
        height: 40px;
        width: 100%;
        position:absolute;
        text-align: center;
    }

    #hotel_outside_text>p{
        font-family: system-ui;
        color: white;
        font-size: 20px;
        margin-top: 10px;
        font-weight: 700;
    }

    #hotel_img>img{
        height: 200px;
        width: 100%;
        margin-top:40px;
    }

        
}




@media screen and (max-width:720px) {
    #hotel_details{
        height: 350px;
        width: 66%;
        margin-top: 50px;
        background-color:aliceblue;
        border: #0071c2 1px solid;
    }
        
    #image_in{
        height: 230px;
        width: 200px;
        position:absolute;
        margin-left: 20px;
         
    }
    #Find_your_next_stay{
        color: white; 
        margin-top: 50px; 
        margin-left: 125px;
        font-family: BlinkMacSystemFont,-apple-system,Segoe UI,Roboto,Helvetica,Arial,sans-serif; 
        font-size: 30px;
        position:absolute;
    }

    #hotel_inside_text{
        background-color: #003585;
        height: 40px;
        width: 100%;
        position:absolute;
        text-align: center;
    }

    #hotel_inside_text>p{
        font-family:system-ui;
        color: white;
        font-size: 20px;
        margin-top: 10px;
        font-weight: 700;
    }
    #room_img>img{
        height: 200px;
        width: 100%;
        margin-top:40px;
    }

    #image_out{
        height: 200px;
        width: 200px;
        position:absolute;
        margin-left: 230px;
         
    }
    #hotel_outside_text{
        background-color: #003585;
        height: 40px;
        width: 100%;
        position:absolute;
        text-align: center;
    }

    #hotel_outside_text>p{
        font-family: system-ui;
        color: white;
        font-size: 20px;
        margin-top: 10px;
        font-weight: 700;
    }

    #hotel_img>img{
        height: 200px;
        width: 100%;
        margin-top:40px;
    }
    #services{
        height: 70px;
        width: 60%;
        margin-left: 10px;
        margin-top: 20px;
    }
    
    #service>span{
        font-weight: 800;
        color:black;
        font-family: sans-serif;
        font-size: 10px;
    }

    .fa-wifi{
        font-size: 20px;
        color: #003585;
        margin-bottom: 10px;

    }
    .fa-square-parking{
        font-size: 20px;
        color: #003585;
        margin-bottom: 10px;
    }
    .fa-air-conditioner{
        font-size: 20px; 
        color: #003585;
        margin-bottom: 10px;
    }
    .fa-virus-covid-slash{
        font-size: 20px;
        color: #003585;
        margin-bottom: 10px;
    }
    .fa-shower{
        font-size: 20px;
        color: #003585;
        margin-bottom: 10px;
    }
    .fa-clock-rotate-left{
        font-size: 20px;
        color: #003585;
        margin-bottom: 10px;
    }
        
}

@media screen and (max-width:700px) {
    #services{
        height: 100px;
        width: 60%;
        margin-left: 10px;
        margin-top: 20px;
    }
    
    #service>span{
        font-weight: 800;
        color:black;
        font-family: sans-serif;
        font-size: 10px;
    }
    #Find_your_next_stay{
        color: white; 
        margin-top: 50px; 
        margin-left: 125px;
        font-family: BlinkMacSystemFont,-apple-system,Segoe UI,Roboto,Helvetica,Arial,sans-serif; 
        font-size: 30px;
        position:absolute;
    }
}

@media screen and (max-width:688px) {
    #hotel_details{
        height: 600px;
        width: 55%;
        margin-top: 50px;
        background-color:aliceblue;
        border: #0071c2 1px solid;
    }
    
    #image_in{
        height: 200px;
        width: 200px;
        margin-left: 0px;
        position: relative;
         
    }
    #hotel_inside_text{
        background-color: #003585;
        height: 40px;
        width: 100%;
        text-align: center;
    }

    #hotel_inside_text>p{
        font-family:system-ui;
        color: white;
        font-size: 20px;
        margin-top: 10px;
        font-weight: 700;
    }
    #room_img>img{
        height: 200px;
        width: 100%;
        margin-top:40px;
    }

    #image_out{
        height: 200px;
        width: 200px;
        margin-left: 0px;
        margin-top: 70px;
        position: relative;
         
    }
    #hotel_outside_text{
        background-color: #003585;
        height: 40px;
        width: 100%;
        text-align: center;
    }

    #hotel_outside_text>p{
        font-family: system-ui;
        color: white;
        font-size: 20px;
        margin-top: 10px;
        font-weight: 700;
    }

    #hotel_img>img{
        height: 200px;
        width: 100%;
        margin-top:40px;
    }
}
@media screen and (max-width:575px) {
    #Find_your_next_stay{
        color: white; 
        margin-top: 50px; 
        margin-left: 100px;
        font-family: BlinkMacSystemFont,-apple-system,Segoe UI,Roboto,Helvetica,Arial,sans-serif; 
        font-size: 30px;
        position:absolute;
    }
}

@media screen and (max-width:559px) {
    #hotel_details>h3{
        font-family: sans-serif;
        font-size: 25px;
        margin-top: 10px;
        margin-bottom: 15px;
        text-align: center;
        color: #0071c2;
        font-weight: 800; 
    }
    #Find_your_next_stay{
        color: white; 
        margin-top: 50px; 
        margin-left: 92px;
        font-family: BlinkMacSystemFont,-apple-system,Segoe UI,Roboto,Helvetica,Arial,sans-serif; 
        font-size: 30px;
        position:absolute;
    }
    #cost_details{
        height: 280px;
        width: 60%;
        background-color: rgb(241, 217, 217);
        border: 2px red solid;
    }
    #cost_details>h2{
        font-family: sans-serif;
        font-size: 25px;
        margin-bottom: 15px;
        color: #0071c2;
        font-weight: 800;
    }

    #cost_details>span{
        margin-top: 20px;
        font-family: system-ui;
        font-size: 15px;
        font-weight: 700;
    }
    #cost_details>button{
        background-color: #003585;
        color: white;
        font-family: sans-serif;
        font-weight: 700;
        float:right;
        margin-right: 20px;
        border-radius: 5px;
        height: 40px;
    border-color:antiquewhite;
    }
    #services{
        height: 100px;
        width: 60%;
        margin-left: 50px;
        margin-top: 20px;
    }
}